html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    padding: 25px;
    background-color: #f7f6f6;
    display: flex;
    justify-content: center;
}